body {
  box-sizing: border-box;
  font-size: 13px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}

a:visited,
a:active{
  color: blue;
}
a:hover {
  color: rgba(0,4,89);
}

header {
  display: inline-block;
  top: 0;
  width: 100%;
  margin-bottom: 150px;
}

header ul {
  list-style: none;
  float: right;
  line-height: 150%;
}

header li {
  display: inline;
  margin-right: 20px;
}

.header-section {
  display: inline;
  
}
.header-section:hover {
  text-decoration: underline
}

#signInButton {
  padding: 5px 8px 5px 8px;
  background: blue;
  color: white;
  text-decoration: none;
}

 #signInButton:hover {
  text-decoration: none;
}

.googleAppicon {
  background-image: url('https://lh3.googleusercontent.com/rEs96g0yGo45gb2QXpfdNikxjRiFksUhwVfF005RqDpjo2X4STvm2gG0wTfMpBUUP1I6lEWIRv6sWwx5Axv0z3RHmATwQL_xJWNQGtIlK88gX5j_w90TZn4mt8SrHSbgYope2zw81gqXVXj5_Ozj3v5ZJQ_FU73dqAZmIQVSnDJc4yMvYq6spkFojN90yLAy3nu18-h7MKi3x8lYYMkKAA_h7CQ_0v1n-zkzg43QHF4RlaeFBt0VSJlnW32FG1IiMUtgA3_PNp2hcGdu6hOKpH5AdCCThFTCpcApFRGWYcZiJfVlPyoJrTMT617vY_UrZ_H1ESReZWKXsXHTKlsGWjyM0kacRujkt42eZfXR4vM3ZmT0zNsybFhWZFN4Tva0UjLKmhS9hH39Qu9hd6k0p-I9HNMaSjGVHdSFmF7U3UNaE8-ar6zkmrKkx-V8F9O-XSRSXKp-JuhgfT4lTQbPORLCC4MM4PzKEIdebEr0CoU1WlVjRfNl-9kC44mcNtjFrVrxcRRMwRser6jZayYTAMFVv1SJbwctrFY6I8598uzEiJV5n5CGDDFocLADY9I0fpTPjQqATC72BkSYg0eRuUD63jdRlxTsq2Z_KRIXrVSytyxxr5glW7zykn0jcMTNuc_MKTuzgCWQu5btfmIYgzo=s16-no');
  
	display: inline-block;
    outline: none;
    vertical-align: middle;
	box-sizing: border-box;
    height: 17px;
    width: 17px;
    padding: 2px;
}

input[type="text"] {
    background-color: white;
    background-image: url('https://lh3.googleusercontent.com/fPNlS4oyVoNIZrEQgesDDSBorY747RoTodLA62navW4aYFkRauT3_33mTMbYn8BlosODCjnwnMTn5aym3kEV6VMV2DWszfVK7HwspspzVspcvPPfLs23OSx9dLRJQlceSsx5qYqwLccQoUaAw2qqU1QIlLcuEIVKOGBJdSC730ryi7GgxXxNyieQJKwLxN0bhiRc3RWbcyIoCRpr0awDnP_7rgsN1a3RexORtsM-53ll5CTEHiCoelzSnYGUHk1UVHuQt1TFJbuTsv1jjLEu8o4zvf9MTj0DCd82gi38jyJEGid50romfiDcU_UoPgXEvOLAxGQuQG9NJwIl4FJAMfLrQ4jAwU1LZikTMQbvYPi_-OhfZplYBkrsIxi2KHUd6M9_D6UQE62dELSbt6-_ERHFz26DyTH61YYTdpwXBOPpVtQ_eiHw7LWIaleVdxylnq7kxI7v5cWZV27sWfmqdYd16hmcy5f1O8nk86DGNCLt7XLH39805b3-X3Qg55_hGkcGOlP3wfLW1CgSBHnGDyZ4a4tVP6Ymsj1J6iCFx3XDwE2y2DPmbzkGbi6VbsyB_KZiWhnjVDZks0FqUawBwAssTSPD--IjRe7ycsburVrCv5eNc0_gT_gm920CZUhFrR2Twx9FyI1aM_A-0cVej8U=s24-no');
    background-position: 96%;
    background-repeat: no-repeat;
    vertical-align: middle;
    line-height: 34px;
    font-size: 16px;
    display: flex;
    padding: 5px 8px 0 16px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding-left: 12px;
    padding-top: 6px;
    width: 100%;
    border-style: none;

}

#search-area-section{
	width: 584px;
	border: 1px solid #ccc;
	border-radius: 4px;
    outline: none;
}

#search-area-section:hover {
	box-shadow: 0 3px 5px #d9d9d9;
}

#button-section {
	margin-top: 20px;
}

input[type="submit"] {
	height: 36px;
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

input[type="submit"]:hover {
	color: #222;
	border: 1px solid #ccc;
}


.text-section {
	padding: 10px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
}
.footer a {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
}

.footer a:hover {
  color: rgba(0, 0, 0, 0.808);
}
#topFooter {
  padding: 10px 10px 10px 20px;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.54);
}
#leftFooter {
  display: inline-block;
  padding: 10px 10px 10px 20px;
  margin: 0;
}
#leftFooter li {
  display: inline;
  margin-right: 10px;
}

#rightFooter {
  display: inline-block;
  padding: 10px 20px 10px 0;
  margin: 0;
  float: right;
}
#rightFooter li {
  display: inline;
  margin-left: 10px;
}
